@font-face{ 
	font-family: 'socialico-webfont';
	src: url('fonts/socialico-webfont.eot');
	src: url('fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/socialico-webfont.woff') format('woff'),
	     url('fonts/socialico-webfont.ttf') format('truetype'),
	     url('fonts/socialico-webfont.svg#webfont') format('svg');
}
html, body, #body, .customContent, p, h1, h2, h3, h4, h5, h6, a, .a-i, b, label, ul, li {font-family: 'Noto Sans', sans-serif; line-height:1.4;}
/* ============================================================================================ */
/* ===                                *White*    ^_^                                         === */
/* ============================================================================================ */
/*

	========================
	==		CONTENTS:     ==
    ========================

	- GLOBAL STYLES
		- body background
		- link styles
		- heading styles

	- LAYOUT STYLES;
	 	- site body
	 	- page body		

	- HEADER STYLES
		- meta menu
		- header background

	- MAIN MENU STYLES
		- menu background
		- top level link styles
		- drop down menu styles

	
	
*/





/* ====== GLOBAL STYLES======================================================================== */

	/* ~~~~~ Body Background ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		
		#container {
			background: #f0f0f0;
			color:#000;
			}

	/* ~~~~~ Link Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		a, a:link, a:visited { 
			color: #000;
			}

		a:focus, a:active, a:hover { 
			color: #000;
			}

	/* ~~~~~ Heading Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		body #container h1{color:#000;}
		body #container h2{color:#000;}
		body #container h3{color:#000;}
		body #container h4{color:#000;}
		body #container h5{color:#000;}
		body #container h6{color:#000;}
	h2{font-size:28.5px;}  /* Fixed Master template making h2 too large */

/* ======= end of GLOBAL STYLES ========================================================= */

/* ====== CYCLE PLUG-IN STYLES  ================================================================ */

.slideshow img {display:none} 
.slideshow img.first {display: block}

/* ======= end CYCLE PLUG-IN STYLES ========================================================= */

/* ======= Fixed Top Bar ========================================================= */

header .topbar {position:fixed; top:0px; left:0px; z-index:999; width:100%; height:35px; background:#2C2C2C;
-moz-box-shadow: 0 0 5px 5px #464646;
-webkit-box-shadow: 0 0 5px 5px #464646;
box-shadow: 0 0 5px 5px #464646;}
header .topbar .content {width:980px; margin: 0 auto; position:relative;}

/* ======= End Fixed Top Bar ===================================================== */

/* ====== BUTTON STYLES  ================================================================ */

 /* Button styling has been updated to include the more options button in the search as well as the footer links */

body #container input[type=submit],
body #container input[type=reset],
body #container input[type=button],
body #container button,
body #container .btn,
body #container .homelinks article a,
body #container .module_propertycontact button,
body #container > 
footer > .pos .module.module_footerlinks ul li a,
.module.module_search .searchoptions a{color:#F0F0F0!important;
background: rgb(44,44,44)!important; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMmMyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNjA2MDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)!important;
background: -moz-linear-gradient(top,  rgba(44,44,44,1) 0%, rgba(6,6,6,1) 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,44,44,1)), color-stop(100%,rgba(6,6,6,1)))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(6,6,6,1) 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(6,6,6,1) 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(6,6,6,1) 100%)!important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(44,44,44,1) 0%,rgba(6,6,6,1) 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#060606',GradientType=0 )!important; /* IE6-8 */
border-radius:0!important;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.85)!important;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.85)!important;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.85)!important;
}
/* Hover Buttons */
body #container input[type=submit]:focus,
body #container input[type=submit]:active,
body #container input[type=submit]:hover,
body #container input[type=reset]:focus,
body #container input[type=reset]:active,
body #container input[type=reset]:hover,
body #container input[type=button]:focus,
body #container input[type=button]:active,
body #container input[type=button]:hover,
body #container button:focus,
body #container button:active,
body #container button:hover,
body #container .btn:focus,
body #container .btn:active,
body #container .btn:hover,
body #container .homelinks article a:focus,
body #container .homelinks article a:active,
body #container .homelinks article a:hover,
body #container .module_propertycontact button:focus,
body #container .module_propertycontact button:active,
body #container > footer > .pos .module.module_footerlinks ul li a:hover, body #container > 
footer > .pos .module.module_footerlinks ul li a:hover, body #container > footer > 
.pos .module.module_footerlinks ul li a:visited
body #container .module_propertycontact button:hover,
.module.module_search .searchoptions a:hover,
.module.module_search .searchoptions a:hover{color:#2C2C2C!important; border-color:#2C2C2C!important;
background: rgb(240,240,240); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(201,201,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-8 */

}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~ Alternate-Style Buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body #container button.alt,
body #container .btn-alt,
body #container .module_featuredsearches article > a,
body #container #col-center > .pos > .module.module_featuredsearches > section article,
body #container #col-center > .pos > .module.module_featuredsearches > .content article > a{color:#fff;}
/* Hover Buttons */
body #container button.alt:focus,
body #container button.alt:active,
body #container button.alt:hover,
body #container .btn-alt:focus,
body #container .btn-alt:active,
body #container .btn-alt:hover,
body #container .module_featuredsearches article > a:focus,
body #container .module_featuredsearches article > a:active,
body #container .module_featuredsearches article > a:hover,
body #container #col-center > .pos > .module.module_featuredsearches > section article > a:focus,
body #container #col-center > .pos > .module.module_featuredsearches > section article > a:active,
body #container #col-center > .pos > .module.module_featuredsearches > section article > a:hover,
body #container #col-center > .pos > .module.module_featuredsearches > .content article > a:focus,
body #container #col-center > .pos > .module.module_featuredsearches > .content article > a:active,
body #container #col-center > .pos > .module.module_featuredsearches > .content article > a:hover{color:#000;}
div.a-i{color:#000 !important;}

/* ====== end of BUTTON STYLES  ===================================================== */





/* ====== LAYOUT STYLES  =========================================================== */

	

	/* ----- Site Body --------------------------------------------------------*/

	/* Wraps everything between Header and Footer in 980px fixed width div*/

		body #container > #body{color:#000;}
	

	/* ----- Page Body ------------------------------------------------------------- */

	/* Allows you to specifiy styles for the Main Content and Right Col for the whole site.*/

	#container .module.module_templatepage {padding:1em;}
    #container .module.module_formpage {padding:1em;}
	#container .PH_NeighborhoodReportPlaceHolder{padding:1em;}

		/* ~~~~~ Main Column ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container #body #col-center.col{}
				body #container #body #col-center.col > .pos{
					padding:1em;
				}


		/* ~~~~~ Right Column ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container #body #col-side-b.col{}
				body #container #body #col-side-b.col > .pos{
					padding: 1em;
				}
	
	/* flips right column to the left column */
		/*
		#container #body #col-side-b {clear:left; }  
		#container #body #col-center {float: right;}
		*/			

/* ====== end of  LAYOUT STYLES  ====================================================== */





/* ====== HEADER STYLES ===================================================================== */

	/* ~~~~~ Meta Menu (Home - Contact - My Home Tracker -- Log In) ~~~~~~~~~~~~~~ */
	
		
		 header .topbar #nav_head {width:25%!important; margin:10px!important; float:left!important;} 
		 body #container > header > .pos > #nav_head ul{}
		 body #container > header > .pos > #nav_head ul li{}

					/* Regular Links */
					#nav_head ul li a,
					#nav_head ul li a:link,
					#nav_head ul li a:visited{color:#fff;}

					/* Hover Links */
					#nav_head ul li a:focus,
					#nav_head ul li a:active,
					#nav_head ul li a:hover{color:#fff; text-decoration:underline;}


	
	/* ~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

	/*
		A Note on Header Backgrounds:  
			-To set background 100% across, set background on  <header>.
			-To set background on fixed width 980px part, set background on  header > .pos
			- header > .pos had default height of 125px, so you may be to add height property
	*/

		 #container > header {
		   background:none;; 
		   height:206px; 
		   width:980px; 
                   margin:0px auto;
  }

header .pos .BannerInfo .RealtorLogo img {height:140px;}
header .pos .BannerInfo .RealtorLogo {position:absolute; z-index:990; top:10px;}
header .pos .BannerInfo .AgentPic img {height:150px; border: solid 3px #F0F0F0; margin:0px!important; padding:0px!important;}
header .pos .BannerInfo .AgentPic {position:absolute;
z-index:990;
top:5px;
right:9px;
height:155px;
-moz-box-shadow: 0 0 5px 5px #2C2C2C;
-webkit-box-shadow: 0 0 5px 5px#2C2C2C;
box-shadow: 0 0 2px 2px #2C2C2C;}
header .BannerInfo {position:relative; width:980px; height:166px; top:40px;}
header .BannerInfo .bar {position:absolute; z-index:99; bottom:28px; right:0px; background:#2C2C2C; width:830px; height:35px;}
header .BannerInfo h1 {position:absolute; left:150px; bottom:50px; color:#2C2C2C!important; font-family: 'Niconne', cursive; font-size:74px; text-shadow: 1px 1px 2px #050505;}
header .BannerInfo .bar h3 {font-size:18px; padding:6px; color:#F0F0F0!important; font-family: 'Donegal One', serif;}

		 #container > header > .pos{position:relative;
		 }
		 
		/*Header Contact Info - Name, Office Information */
			body #container > header > .pos .module.module_branding{display:none;} 
			body #container > header > .pos .module.module_branding > section,
			body #container > header > .pos .module.module_branding > .content{}
			
			

/* ======= end of HEADER STYLES =============================================================== */






/* ====== MAIN MENU STYLES ======================================================================= */

	/*
		A Note on Main Nav Backgrounds:  
			-To set background 100% across, set background on #container > #nav_main
			-To set background on fixed width 980px part, 




				set background on  #container > #nav_main > .nav_main,  it WILL need !important 
	*/

		/* Top Level Nav Controls (background, etc.) */
			body #container > #nav_main{
			border:none; 
			background:url(/CustomData/150118509/images/nav.jpg); 
			background-repeat:no-repeat; 
			height:60px; 
			width:980px;
			margin:0px auto 0px;
			}
			body #container > #nav_main > .nav_main{}
			body #container > #nav_main > .nav_main > ul{}


		/* ~~~~~ Top Level Items ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container > #nav_main > .nav_main > ul > li{}

		/* Regular Links */
			body #container > #nav_main > .nav_main > ul > li > a,
			body #container > #nav_main > .nav_main > ul > li > a:link,
			body #container > #nav_main > .nav_main > ul > li > a:visited,
			body #container > #nav_main > .nav_main > ul > li.ui-menu-item > a,
			body #container > #nav_main > .nav_main > ul > li.ui-menu-item > a:link,
			body #container > #nav_main > .nav_main > ul > li.ui-menu-item > a:visited{font-size:18px; 
			text-align:center; 
			}

		/* Hover Links */
			body #container > #nav_main > #ui-active-menuitem,
			body #container > #nav_main > .nav_main > ul > li > a:focus,
			body #container > #nav_main > .nav_main > ul > li > a.ui-state-focus,
			body #container > #nav_main > .nav_main > ul > li > a:active,
			body #container > #nav_main > .nav_main > ul > li > a.ui-state-active,
			body #container > #nav_main > .nav_main > ul > li > a:hover,
			body #container > #nav_main > .nav_main > ul > li > a.ui-state-hover,
			body #container > #nav_main > .nav_main > ul > li > a.ui-active-menuitem{background:#2C2C2C!important; color:#F0F0F0;}


		/* ~~~~~ Drop Down Menus ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container > #nav_main > .nav_main > ul > li > ul{background:rgb(240, 240, 240); background:rgba(240, 240, 240, 0.85); border-radius:0;}
			body #container > #nav_main > .nav_main > ul > li > ul > li{color:#2C2C2C;}
		/* Regular Links */
			body #container > #nav_main > .nav_main > ul > li > ul > li > a,
			body #container > #nav_main > .nav_main > ul > li > ul > li > a:link,
			body #container > #nav_main > .nav_main > ul > li > ul > li > a:visited{color:#2C2C2C; padding:10px;}
		/* Hover Links */
			body #container > #nav_main > .nav_main > ul > li > ul > li > a:focus,
			body #container > #nav_main > .nav_main > ul > li > ul > li > a:active,
			body #container > #nav_main > .nav_main > ul > li > ul > li > a:hover{background:#2C2C2C!important; color:#F0F0F0; border-radius:0;}
			
			
/* ======= end of MAIN MENU STYLES ============================================================= */





/* ====== FOOTER STYLES ======================================================================= */

		#container > footer {
			background: #111;
            color:#fff;
		}

	/* ~~~~~ Footer Content Wrapper ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */			
                
         #container > footer a{color:#fff;}
		#container > footer  > .pos{
				color:#fff !important; 
				width: 980px; 
				margin: 0 auto;
				padding-top:10px;
				}				

	/* ~~~~~ Business Card ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	    #container > footer  .module.module_bizcard{color:#fff;}
		/* Header */
		#container > footer  .module.module_bizcard > header{color:#fff;} 

			/* Title */
		
	
		#container > footer  .module.module_bizcard > header > * ,	
		 #container > footer  .module.module_bizcard > header hgroup > *{color:#fff;}

		#container > footer  .module.module_bizcard > section,
		#container > footer  .module.module_bizcard > .content{color:#fff;} 

		/* Address */
		 #container > footer  .module.module_bizcard > section .adr,
		#container > footer  .module.module_bizcard > .content .adr { 
			color:#fff !important;}  
		


	/* ~~~~~ Custom Content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	 	#container > footer  .module.module_customcontent{color:#fff;}
		/* Header (works on default content only) */
		#container > footer  .module.module_customcontent > header, #container > footer  .module.module_customcontent > h2{color:#fff;}

		/* Content */
		#container > footer  .module.module_customcontent > section,
		#container > footer  .module.module_customcontent > .content{color:#fff;}


	/* ~~~~~ Disclaimer Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	#container > footer > .pos .module.module_disclaimer{color:#fff;}
		/* Content */
		#container > footer > .pos .module.module_disclaimer > section,
		#container > footer > .pos .module.module_disclaimer > .content{color:#fff;}
			/* Default Text */
			#container > footer > .pos .module.module_disclaimer small{color:#fff;}
			/* Credit Text */
			#container > footer > .pos .module.module_disclaimer .credits{color:#fff;}
			/* Copyright Text */
			#container > footer > .pos .module.module_disclaimer .copyright{color:#fff;}
				/* Regular Links */
				#container > footer > .pos .module.module_disclaimer a,
				#container > footer > .pos .module.module_disclaimer a:link,
				#container > footer > .pos .module.module_disclaimer a:visited{color:#fff;}
				/* Hover Links */
				#container > footer > .pos .module.module_disclaimer a:focus,
				#container > footer > .pos .module.module_disclaimer a:active,
				#container > footer > .pos .module.module_disclaimer a:hover{color:#fff;}


		/* ~~~~~ Footer Link Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
				
		#container > footer > .pos .module.module_footerlinks{color:#fff;}
			/* Content */
			#container > footer > .pos .module.module_footerlinks > section,
			 #container > footer > .pos .module.module_footerlinks > .content{color:#fff;}
				/* List */
				 #container > footer > .pos .module.module_footerlinks ul{color:#fff;}
					/* List Items */
					 #container > footer > .pos .module.module_footerlinks ul li{color:#fff;}
					/* Sitemap Item */
					 #container > footer > .pos .module.module_footerlinks .sitemap{color:#fff;}
					/* Login Item */
					 #container > footer > .pos .module.module_footerlinks .loginlink{}
						/* Regular Links */
						#container > footer > .pos .module.module_footerlinks ul li a,
						#container > footer > .pos .module.module_footerlinks ul li a:link,
						#container > footer > .pos .module.module_footerlinks ul li a:visited{color:#fff;}
						/* Hover Links */
						#container > footer > .pos .module.module_footerlinks ul li a:focus,
						#container > footer > .pos .module.module_footerlinks ul li a:active,
						#container > footer > .pos .module.module_footerlinks ul li a:hover{color:#fff;}



/* ======= end of FOOTER STYLES ============================================================= */





/* ====== GLOBAL MODULE STYLES ========================================================= */

		/* ~~~~~ Begin Interior Pages, Main Column ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			#container #body #col-center .module{}
		/* Header */
			#container #body #col-center .module > header{}
		/* Title */
			#container #body #col-center .module > header > *,
			#container #body #col-center .module > header hgroup > *{}
		/* Content */
			#container #body #col-center .module > section,
			#container #body #col-center .module > .content{}
		/* Footer */
			#container #body #col-center .module > footer{}
		/* ~~~~~ End Interior Pages, Main Column ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Begin Interior Pages, Right Column ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			#container #body #col-side-b .module{}
		/* Header */
			#container #body #col-side-b .module > header{}
		/* Title */
			#container #body #col-side-b .module > header > *,
			#container #body #col-side-b .module > header hgroup > *{}
		/* Content */
			#container #body #col-side-b .module > section,
			#container #body #col-side-b .module > .content{}
		/* Footer */
			#container #body #col-side-b .module > footer{}
		/* ~~~~~ End Interior Pages, Right Column ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		 /* ~~~~~  Home Page Module Selector Reference ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	 #bd_home #container #body #col-center .module.module_featuredlisting {border:1px solid #2C2C2C; margin-top:8px;}
	 #bd_home #container #body #col-center .module.module_featuredlisting section{padding:6px;}
	 #bd_home #container #body #col-center .module.module_featuredlisting h3{padding:5px; text-align:left; font-size:18px; color:#000;  background: rgb(240,240,240); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(201,201,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-8 */
}
	 #bd_home #container #body #col-center .module.module_featuredsearches{border:1px solid #2C2C2C;}
	 #bd_home #container #body #col-center .module.module_featuredsearches h3{padding:5px; text-align:left; font-size:18px; color:#000; background: rgb(240,240,240); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(201,201,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-8 */
}
			#bd_home #container #body #col-center .module.module_search {}
			#bd_home #container #body #col-center .module.module_customcontent{}
			#bd_home #container #body #col-side-b .module.module_bizcard {}
			#bd_home #container #body #col-side-b .module.module_bizcard h3 {font-size:18px; background: rgb(240,240,240); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(201,201,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-8 */
 padding:5px;}
			#bd_home #container #body #col-side-b .module.module_propertycontact{}
			#bd_home #container #body #col-side-b .module.module_localpropertysearch,
		    #bd_home #container #body #col-side-b .module.module_localareasearch {margin-top:20px; margin-bottom:-22px; border:1px solid #2C2C2C;}
			#container #body #col-side-b .module.module_localareasearch {margin-top:20px; margin-bottom:-22px; border:1px solid #2C2C2C;}
			container #body #col-side-b .module.module_localareasearch {margin-top:20px; margin-bottom:-22px; border:1px solid #2C2C2C;}
			#bd_home #container #body #col-side-b .module.module_localareasearch h3{padding:5px; text-align:left; font-size:18px; color:#000; background-color:#2C2C2C;}
			#container #body #col-side-b .module.module_localareasearch h3{padding:5px; text-align:left; font-size:18px; color:#000; background: rgb(240,240,240); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(201,201,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-8 */
}
			#col-side-b .module.module_localareasearch footer {background: rgb(240,240,240)!important; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)!important;
background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(201,201,201,1) 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(201,201,201,1)))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%)!important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c9c9c9',GradientType=0 )!important; /* IE6-8 */
}
		    #bd_home #container #body #col-side-b .homelinks{}
		/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Module Selector Reference ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			 #container #body #col-center .module.module_featuredlisting{}
			 #container #body #col-center .module.module_featuredsearches{}
			 .module.module_search {background: rgb(240,240,240); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(201,201,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-8 */
border:1px solid #2C2C2C; height:67px;}
			 #container #body #col-center .module.module_customcontent{}
			 #container #body #col-side-b .module.module_bizcard {}
			 #container #body #col-side-b .module.module_propertycontact{}
			 #container #body #col-side-b .module.module_localpropertysearch,
			 #container #body #col-side-b .module.module_localareasearch{}
			 #container #body #col-side-b .homelinks{}
		/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		
		/* ~~~~~ Begin Featured Listings Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			.module.module_featuredlisting {}
			.module.module_featuredlisting header h3{font-size:28px; color:#000;}
			.module.module_featuredlisting .morelistings{color:#000; text-decoration:underline;}

			.module.module_featuredlisting .description,
			.module.module_featuredlisting .courtesyof,
			.module.module_featuredlisting .street-address,
			.module.module_featuredlisting .locality,
			.module.module_featuredlisting .region,
			.module.module_featuredlisting .postal-code,
			.module.module_featuredlisting .price,
			.module.module_featuredlisting .type{color:#000;}
		/* ~~~~~ End Featured Listings Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		
		/* ~~~~~ Begin Quick Search Module Horizontal ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* Turn Module On/Off, Set background, style, border */
			#module_Properties{margin-top:16px; background: rgb(240,240,240); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(201,201,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-8 */
 border:1px solid #2C2C2C!important;} 

		/* Search module headings */
			body #container #body .module.module_search > header > h2,
			body.bd_advancedssearch #container #body .module.module_search > header > h2,
			body#bd_openhouse #container #body #col-center .module.module_search > header > h2{}
			.module.module_search header{display:inline;}
		/* Subtitles, listing counts on search result pages */
			body #container #body .module.module_comparehomesresults > header hgroup h3,
			body #container #body .module.listings_compare > header hgroup h3,
			body #container #body .module.module_listingcount > header h3{}
			
			body #container #body .module.module_comparehomesresults > header hgroup h4,
			body #container #body .module.listings_compare > header hgroup h4{}

		/* Button Text Color */
			#ctl00_MainContentPlaceholder_ctl00_btnSimpleSearch{color:#000 !important;}
			#ctl00_MainContentPlaceholder_ctl00_c_AdvSearch_advSubmitBtn{color:#000 !important;}
			#container > #body .module.module_search > section fieldset li a.searchoptions, #container > 
			#body .module.module_Properties > section fieldset li a.searchoptions, #container > 
			#body .module.module_Agents > section fieldset li a.searchoptions, #container > #body .module.module_Offices > 
			section fieldset li a.searchoptions, #container > #body .module.module_search > 
			.content fieldset li a.searchoptions, 
			#container > #body .module.module_Properties > .content fieldset li a.searchoptions, 
			#container > #body .module.module_Agents > .content fieldset li a.searchoptions, 
			#container > #body .module.module_Offices > .content fieldset li a.searchoptions{}

		/* Labels Text Color */
			.module.module_search label{color:#000;}

		/* ~~~~~ End Quick Search Module Horizontal ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Begin Quick Search Module Vertical ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			#bryansSearch #ctl00_MainContentPlaceholder_HomePage1_mySearchMaster_uc_pnlProperties {
				float:right;
				width:230px;
				height:265px;
				margin-top:-6px;
				margin-left:-2px; 
				text-align:center;
				border:3px solid #000;
				background:;
			}
			.module.module_search{margin-left:7px;}
			.module.module_search h2{font-size:24px;}
			.searchtext {width:185px !important;}
			.searchtext label span{color:#000 !important;}
			.minprice {width:90px !important;}
			.minprice label span{color:#000 !important;}
			.maxprice {width:90px !important;}
			.maxprice label span{color:#000 !important;}
			.beds {width:90px !important;}
			.beds label span{color:#000 !important;}
			.baths {width:90px !important;}
			.baths label {color:#000 !important;}
			.module.module_search button {margin-left:15px; width:150px;}
			.module.module_search li .searchoptions{display:none;}
			
			.module.module_search{color:#000 !important;}

		/* ~~~~~ End Quick Search Module Vertical ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Begin Local Area Search Module (Alphabet City Search) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

			body #container #body #col-side-b .module.module_localareasearch{}

		/* ~~~~~ End Local Area Search Module (Alphabet City Search) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


		/* ~~~~~ Begin Home Tracker and Neighborhood Values Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

			.homelinks {margin-top:35px;}

		/* ~~~~~ End Home Tracker and Neighborhood Values Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Begin Contact Form Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		
		/* Controls upper portion of right col (around the client name) */
			#col-side-b .module.module_bizcard {
			position:relative; 
			} 

		/* Right column contact form header - */
			#col-side-b .module.module_bizcard header { 
			/*padding-right:15px; 
			padding-left:10px;*/	
			background:; 
			border-right:1px solid #2C2C2C;
			border-left:1px solid #2C2C2C;
			border-top:1px solid #2C2C2C;} 

		/*Controls upper portion of right col (around the client phone #) */
			#col-side-b .module.module_bizcard section, #col-side-b .module.module_bizcard .content {
			background:;
			border-right:1px solid #2C2C2C;
			border-left:1px solid #2C2C2C; 
			border-top:none; 
			zoom:1; 
			overflow:hidden;} 

		/*Controls portion of right col (around the request more info) */
			#col-side-b .module.module_propertycontact header { 
			 
			padding-left:10px;
			background:; 
			border-right:1px solid #2C2C2C;
			border-left:1px solid #2C2C2C;
			border-top:none;
			}

		/*Controls portion of right col (around the rest of the form) */
			#col-side-b .module.module_propertycontact section, #col-side-b .module.module_propertycontact div.content {
			
			padding-left:10px; 
			padding-right:10px;
			background:; 
			border-right:1px solid #2C2C2C;
			border-left:1px solid #2C2C2C;
			border-bottom:1px solid #2C2C2C;
			}

		/*Controls portion of right col (extra space under contact form) */
			#col-side-b .module.module_propertycontact footer {
			display:none;	
			}

		/* Top Contact CSS To Adjust the Padding of the Business telephone address */
			#col-side-b .module.module_bizcard .tel{padding:9px;}

		/* Label Text Color */
			.module.module_propertycontact #RequestInfoSection fieldset label{color:#000;}

		/* ~~~~~ End Contact Form Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Begin Featured Searches Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

			.module_featuredsearches {}

		/* ~~~~~ End Featured Searches Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Unhide Titles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		/*
		 * These titles are hidden in the global stylesheets
		 * For consistent titles on a default site they must be un-hidden
		*/
			body #container .module.module_sellersresources header,
			body #container .module.module_buyersresources header,
			body #container .module.module_aboutus header{ display:block; }
		/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


		/* Neighborhood Values search options headings */
			body#bd_neighborhoodvalues #container #body #col-center .module.module_valuesoptions section article header > h4{}

/* ====== END GLOBAL MODULE STYLES ========================================================= */





/* ====== LISTINGS STYLES ========================================================= */

		/* ~~~~~ Begin Interior Listings ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		
		
		/* ~~~~~ Begin Listings Results ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* List View Styles */
			#module_list .listings .pos.pos_listing .price,
			#module_list .listings .pos.pos_listing .adr.fn,
			#module_list .listings .pos.pos_listing .details .bedrooms,
			#module_list .listings .pos.pos_listing .details .bathrooms,
			#module_list .listings .pos.pos_listing .details .type,
			#module_list .listings .pos.pos_listing .details .size,
			#module_list .listings .pos.pos_listing .details .mls,
			#module_list .listings .pos.pos_listing .description,
			.listings article .status,
			.listings article .status b,
			#module_list .listings .pos.pos_listing .a-i{color:#000;}
			#module_list .listings .pos.pos_listing .a-i:hover{color:#444;}


		/* List View Styles */
			#module_photo .listings .pos.pos_listing .price,
			#module_photo .listings .pos.pos_listing .adr,
			#module_photo .listings .pos.pos_listing .status b{color:#000;}

		/* Map View Styles */
		
		/* Price */
			body .infowindow .price{ color: #000000;  }
		
		/* Address */
			body .infowindow .adr,
			body .infowindow .street-address,
			body .infowindow .locality,
			body .infowindow .region,
			body .infowindow .postal-code{ color: #000000; }
		
		/* Details */
			body .infowindow .details span,
			body .infowindow .bedrooms,
			body .infowindow .bathrooms,
			body .infowindow .type,
			body .infowindow .size,
			body .infowindow .mls,
			body .infowindow .description,
			body .infowindow .courtesyof,
			body .infowindow .status{ color: #000000 !important;}
		
		/* Buttons */
			body .infowindow .buttons,
			body .infowindow .buttons a,
			body .infowindow .buttons a .a-i{ color: #000000 !important; }

		/* Results Table */
			#module_map section .listing-mini-address.adr,
			#module_map section .listing-mini-price .listing-mini-price-body.price.hmoney{color:#000;}

		/* Listing Detail Overview */
			.module.module_listing_detail .col-b.address.vcard .adr.fn,
			.module.module_listing_detail .col-b.address.vcard .price,
			#rvl_results .pos.pos_listing .price,
			#rvl_results .pos.pos_listing .adr.fn,
			#rvl_results .pos.pos_listing .details .bedrooms,
			#rvl_results .pos.pos_listing .details .bathrooms,
			#rvl_results .pos.pos_listing .details .size,
			#rvl_results .pos.pos_listing .details .status,
			#rvl_results .pos.pos_listing .details .mls,
			#col-side-b .module.module_mortgage .mortgage_calculation div,
			#col-side-b .module.module_mortgage .mortgage_calculation li label,
			#MortgageCalculatorSection fieldset ul li label,
			#ScheduleAShowingSection label,
			#col-center .module.module_mortgage .mortgage_calculation div{color:#000;}
			
			/* Listing Detail Overview HOMEPAGE*/
  #bd_home .module.module_listing_detail .col-b.address.vcard .adr.fn,
  #bd_home .module.module_listing_detail .col-b.address.vcard .price,
  #bd_home .pos.pos_listing .price,
  #bd_home .pos.pos_listing .adr.fn,
  #bd_home .pos.pos_listing .monthly,
  #bd_home .pos.pos_listing .details .bedrooms,
  #bd_home .pos.pos_listing .details .bathrooms,
  #bd_home .pos.pos_listing .details .size,
  #bd_home .pos.pos_listing .details .status,
  #bd_home .pos.pos_listing .details .mls{color:#000;}


		/* Neighborhood Values Results */
			.module.module_listings.listings_compare .street-address,
			.module.module_listings.listings_compare .locality,
			.module.module_listings.listings_compare .region,
			.module.module_listings.listings_compare .postal-code,
			.module.module_listings.listings_compare .price{color:#000;}


		/* Office Information */
			.module.module_offices .adr.fn,
			.module.module_offices .details{color:#000;}
.module.module_offices #map{height:300px;}

		/* Endorsements */
			.module_CreateEndoresements a{color:#000 !important;}


/* ====== END LISTINGS STYLES ========================================================= */





/* ====== USER CREATED STYLES ========================================================= */
.impulseButton {
	display: inline-block;
	background-color: #2C2C2C;
	height: 30px;
	width: 30px;
	text-decoration: none;
 -webkit-transition:all .3s linear;
 -moz-transition:all .3s linear;
 -ms-transition:all .3s linear;
 transition:all .3s linear;
		font-family:'socialico-webfont';
		font-size:28px;
text-align: center;
line-height: 30px;
	-webkit-box-shadow: 0px 0px 3px #222;
	-moz-box-shadow: 0px 0px 3px #222;
	-ms-box-shadow: 0px 0px 3px #222;
	box-shadow: 0px 0px 2px 2px #151515;
}
.socialMedia a{
	color:#f3f3f3;
}

.socialMedia {
	position:absolute;
	top:2px;
	right:0px;
}

.socialMedia a span, .socialMedia a:visited span, .socialMedia a:link span, .socialMedia a:active span {
float: left;
display: block;
width: 30px;
height: 30px;
margin-right: 5px;
}
.socialMedia a:hover span {height:45px; line-height:45px;}
.fb:hover {
background-color:#3b5998;
color:#fff;
}

.twitter:hover {
background-color:#00b9f4;
color:#fff;
}

.linkedin:hover {
background-color:#67afd3;
color:#fff;
}

.youtube:hover {
background-color:#c7312b;
color:#fff;
}

.mainContainer{width:980px; height: auto; margin:0px auto 0px;}

.slideshow{width:980px; height:520px; margin:0px auto 0px;}
.slideshowwrap {height:520px; width:980px; margin-bottom:10px; position:relative;}
.slideshowwrap .slideshow {position:relative; z-index:99;}
.slideshowwrap .SlideText{position: absolute; bottom:0px; z-index:990; width:980px; text-align:center; font-size:32px; color:#2C2C2C; background:#rgb(240, 240, 240); background:rgba(240, 240, 240, 0.65); padding: 6px 0; font-family: 'Donegal One', serif; text-shadow: 1px 1px 3px #525252;}
.module.module_customcontent,
.module.module_customcontent h1,
.module.module_customcontent h2,
.module.module_customcontent h3{color:#000;}

.module.module_search section, .module.module_search .content {float:none!important;}
.module.module_search li:last-child, .module.module_search .last {width:120px!important;}

a.listing-mini-address, a.listing-mini-address span {color:#252525!important;}
.module.module_featuredsearches article a:hover {color:#F0F0F0!important;}
#testimonials {
width:676px;
background:#f9f9f9;
border:1px solid #D8D9D6;
margin:12px auto 5px;
}
#testimonials blockquote{
padding:10px;
width:656px !important;
font-family:Georgia, "Times New Roman", Times, serif;
font-style:italic;
color:#252525;
display:block;
}
 
#testimonials blockquote p{
margin: 0 !important;padding: 5px!important;
 
}
#testimonials blockquote cite {
font-style: normal;
display: block; 
text-transform: uppercase;
font-weight: bold;
font-style:italic;
color: #555;
padding-left:5px;
margin-top:10px;
}
#testimonialsfullbox{border:1px solid #2C2C2C; /*padding:6px;*/ margin:0px auto 20px; width:696px;}
#nav a{margin:2px;}
#testimonialheader{font-size:18px; background: rgb(240,240,240); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(201,201,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(201,201,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-8 */
 padding:5px;}
/* ====== END USER CREATED STYLES ========================================================= */

.mainImpulseButtons {width:980px; height:170px;}
.mainImpulseButtons a {height:150px; width:388px; background:#F0F0F0; padding:4px; border: solid 2px #2C2C2C;}
.mainImpulseButtons a .impulsebtn {-moz-box-shadow: inset 0 0 2px 2px #2C2C2C;
-webkit-box-shadow: inset 0 0 2px 2px #2C2C2C;
box-shadow: inset 0 0 2px 2px #2C2C2C;
height:142px; padding: 4px 6px; background:#F0F0F0;}
.mainImpulseButtons a .impulsebtn h1 {font-size:28px; text-align:center;}
.mainImpulseButtons a .pic {background:url(/CustomData/150118509/images/impulse.jpg); height:100px; width:140px; border: solid 1px #2C2C2C;}
.mainImpulseButtons a.impulse1 p {text-align:justify; font-size:14px; padding:0 8px; text-align:right;}
.mainImpulseButtons a.impulse2 p {text-align:justify; font-size:14px; padding:0 8px; text-align:left;}
.mainImpulseButtons a.impulse1 .pic {background-position: 0; float:left;}
.mainImpulseButtons a.impulse2 .pic {background-position: -140px 0; float:right;}
.mainImpulseButtons .impulse1 {float:left; margin: 0 45px;}
.mainImpulseButtons .impulse2 {float:left; margin: 0 45px;}

/* Animations for Impulse */
.impulsebtn {position:relative;}
.impulsebtn .cover{position:absolute; z-index:100; height:100%; width:100%; left:0; top:0; background:#2c2c2c;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
-moz-box-shadow: inset 0 0 8px 6px #151515;
-webkit-box-shadow: inset 0 0 8px 6px #151515;
box-shadow: inset 0 0 8px 6px #151515;}
.impulsebtn:hover .cover {z-index:0; background:none;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;}
.impulsebtn .pic, .impulsebtn p {position:relative; z-index:10;}
.impulsebtn h1 {position:relative; z-index:150; line-height:36px; top:55px; font-family: 'Niconne', cursive; color:#F0F0F0!important; font-size:42px!important;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;}
.impulsebtn:hover h1 {top:0; color:#2C2C2C!important; font-size:28px!important;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;}